@use './default';

$background: rgba(249, 248, 255, 0.999);

$purple: rgba(158, 78, 207, 0.999);
$purple_transparent: rgba(158, 78, 207, 0.4);

$pink: rgba(200, 44, 96, 0.999);
$pink_transparent: rgba(200, 44, 96, 0.4);
$pink_highlight: rgba(212, 111, 145, 0.999);

$green_alt: rgba(150, 152, 36, 0.973);
$green_alt_transparent: rgba(150, 152, 36, 0.4);

$green: rgba(36, 152, 75, 0.999);
$green_transparent: rgba(36, 152, 75, 0.4);
$green__highlight: rgba(73, 188, 111, 0.999);
$blue: rgba(15, 105, 241, 0.999);
$blue_transparent: rgba(15, 105, 241, 0.4);
$text_main: rgba(38, 29, 29, 0.999);
$text_light: rgba(82, 82, 82, 0.999);
$orange: rgba(255, 55, 20, 0.999); // ;rgba(500, 55, 20, 1);
$orange_transparent: rgba(255, 55, 20, 0.4);
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: $text_main;
  font-family: "Poppins";
  margin: 0;
}

main {
  width: 100%;
  width: 100vw;
  // display: grid;
  // grid-template-columns: 100%;
  // grid-template-rows: auto auto auto;
  // grid-row-gap: 1em;
}

h1,
h2,
h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: $orange;
  line-height: 1.2em;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
  color: $text_light;
}
p {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
hr {
  color: $orange;
  // height: 3px;
  border-top: solid 3px $orange;
}

.handwriting {
  font-family: Architects Daughter;
  text-transform: none;
}

.handwriting--white {
  @extend .handwriting;
  color: $background;
}

.wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100vw;
}

article,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 1em;
  p {
    max-width: 600px;
  }
}
